.jumbotron {
  padding-top: 10rem;
}

#about {
  padding-top: 25rem;
}

#karakter {
  padding-top: 25rem;
}

#projects {
  padding-top: 25rem;
}

#contact {
  padding-top: 25rem;
}

section {
  padding-top: 6rem;
}
